.cache_ui--entry-view {
  border: 0.0625rem solid var(--color-gray-200);
  background-color: #fefefe;
  padding: 5px;
  overflow: scroll;
}

.button.button--action.button--primary.button--secondary {
  color: var(--button-fg-color);
  background-color: var(--button-bg-color);
}

.button.button--action.button--primary.button--secondary:hover {
  background-color: var(--button--hover-bg-color);
}

.button.button--action.button--secondary::before {
  display: none;
}
